absl-py==0.15.0
alabaster==0.7.12
anndata==0.7.8
astunparse==1.6.3
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
Babel==2.9.1
bio==1.2.0
biopython==1.79
biothings-client==0.2.6
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
build==0.7.0
cached-property==1.5.2
cachetools==4.2.4
certifi==2016.9.26
cffi==1.14.5
charset-normalizer==2.0.12
cloudpickle==2.0.0
colorama==0.4.4
cycler==0.10.0
cykhash==1.0.2
Cython==0.29.24
dataclasses==0.8
DCA==0.3.4
decorator==4.4.2
deepTools==3.5.1
deeptoolsintervals==0.1.9
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.13
docutils==0.17.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
flatbuffers==1.12
future==0.18.2
gast==0.3.3
get_version==2.1
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphtools==1.5.2
grpcio==1.32.0
h5py==2.10.0
hyperopt==0.2.7
idna==3.3
imagesize==1.2.0
importlib-metadata==4.8.3
iniconfig==1.1.1
intervene==0.6.5
ipython-genutils==0.2.0
Jinja2==3.0.3
joblib==1.0.1
jsonschema==2.6.0
jupyter-core==4.5.0
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kopt==0.1.0
legacy-api-wrap==1.2
llvmlite==0.36.0
MACS3==3.0.0a6
magic-impute==3.0.0
Markdown==3.3.6
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1643058938924/work
MarkupSafe==2.0.1
matplotlib==3.3.4
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1639763187273/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mistune==0.8.4
mygene==3.2.2
myst-parser @ file:///home/conda/feedstock_root/build_artifacts/myst-parser_1644607050203/work
natsort==8.1.0
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1631125953237/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nbsphinx @ file:///home/conda/feedstock_root/build_artifacts/nbsphinx_1640962221180/work
networkx==2.5.1
numba==0.53.1
numpy==1.19.5
numpydoc==1.1.0
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
patsy==0.5.1
pep517==0.12.0
Pillow==8.2.0
plotly==5.2.1
pluggy==1.0.0
protobuf==3.19.4
py==1.11.0
py2bit==0.3.0
py4j==0.10.9.3
pybedtools==0.8.2
pyBigWig==0.3.18
pybktree==1.1
pycparser==2.20
pyfaidx==0.6.4
Pygments==2.10.0
PyGSP==0.5.1
pynndescent==0.5.4
pyparsing==2.4.7
pysam==0.16.0.1
pytest==6.2.5
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.1
PyYAML==5.1.2
regex==2021.11.10
requests==2.27.1
requests-oauthlib==1.3.1
rpy2==3.4.5
rsa==4.8
scanpy==1.7.2
scikit-learn==0.24.2
scipy==1.5.4
scprep==1.1.0
-e git+ssh://git@github.com/JSB-UCLA/scReadSim.git@c9ca207266781e6850c718c46722aa455336182c#egg=scReadSim
seaborn==0.11.1
sinfo==0.3.4
six==1.15.0
sklearn==0.0
snaptools==1.4.8
snowballstemmer==2.1.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.12.2
stdlib-list==0.8.0
tasklogger==1.1.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.4
tensorflow-estimator==2.4.0
termcolor==1.1.0
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1645693042223/work
threadpoolctl==2.1.0
toml==0.10.2
tomli==1.2.3
tqdm==4.62.3
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1631041982274/work
typing-extensions==3.7.4.3
tzlocal==2.1
umap-learn==0.5.1
umi-tools==1.1.2
urllib3==1.26.8
webencodings==0.5.1
Werkzeug==2.0.3
wrapt==1.12.1
xlrd==1.2.0
zipp==3.6.0
